---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
const pageTitle = "Welcome to Astro";
---

<Layout title={pageTitle}>
  <main>
    <h1>{pageTitle}</h1>
  </main>
  <Footer />
</Layout>
